@model IEnumerable<VideoViewModel>

@{
    ViewBag.Title = "Home";
}


    @*<html xmlns="http://www.w3.org/1999/xhtml">*@

    @*<table>
        @foreach (var video in Model)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@video.Id">Details</a></td>
                <td>@video.Title </td>
                <td>@video.Genre</td>
                <td><a asp-action="Edit" asp-route-id="@video.Id">Edit</a></td>
            </tr>
        }

    </table>*@

    <div class="card-deck mt-3">

        @foreach (var video in Model)
        {
            <partial name="_VideoPartial" model="video" />
        }

    </div>

    <div>
        <a class="btn btn-success" asp-action="Create">Create</a>
    </div>

        @*@section footer{ <div>This is the Index footer</div>}*@
